
     
    *{
        padding: 0px;
        margin: 0px;
        font-size: 25px;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body{
        background-color: rgba(97, 92, 92, 0.219);
    }
    .content{
       padding: 5px 10px;
    }
   
    .nav{
        
        background-color: black;
        position: sticky;
        top: 0px;
       
    }
    .nav .logo,.nav{
        padding: 4px;

    }
    .nav ul{
        float: right;
        padding-right:30vw ;
    }
    .nav ul li,.logo{
        display: inline-block;
        list-style-type: none;
        margin:-8px -3px;
    }
    li i,li a {
        color: burlywood;
        padding: 5px;
        letter-spacing: 3px;
     }
     .logo i{
         color: burlywood;
         
     }
    li a:hover,.fa:hover,li a:focus{
         
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    button{
        background-color: black;
      
       margin: 5px 5px 5px;
       border-radius: 15px;   
    }
    .call{
        position: sticky;
         bottom: 3px;
         float: right;
         right: 15px;
         top: 35px;
    }
    button a{
        color: rgb(226, 157, 157);
        padding: 5px;
        margin: 5px;
        
    }
    button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    h1{
        font-size: 35px;
        text-align: center;
        margin-bottom: 490px;
    }
    .content{
        height: 300px;
        
    }