* {

    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;


}

body {
    margin: 0px;
}

#navbar {
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    margin: 0px;

}

#navbar ul {
    padding-left: 50px;
    margin: 0px;

}

#navbar ul li {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    margin: 5px 0px;
    padding-left: 15px;


}

li a {
    color: rgba(94, 245, 237, 0.76);
    font-weight: 800;
}

#navbar ul li a:hover {
    color: rgb(255, 187, 97);
}

#connect,
li,
#connect li a {
    display: flex;
    padding: 5px;
    color: rgb(39, 137, 250);
    margin: 0px;
    font-size: 30px;

}

#connect li {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 3px rgb(53, 51, 50);
    margin-left: 10px;
    background-color: rgb(175, 226, 211);

}

#content {
    background-color: rgba(35, 91, 117, 0.63);
    background-image: url("body.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

#content-item {
    background-color: rgba(255, 255, 255, 0.02);
    width: 70vw;
    padding: 15px;
    margin-bottom: 0px;
    color: aliceblue;
}

input {
    width: 60%;
    font-size: 18px;
}


#info {

    font-size: 20px;
    margin-left: 5px;
    text-align: center;
}

#info #profile-photo {
    height: 200px;
    width: 190px;
    border: 3px ridge aqua;
    border-radius: 130px;

}



#cv-content {
    border: 2px solid black;
    color: rgb(0, 0, 0);

    background-color: rgba(172, 172, 172, 0.924);

    padding-left: 5px;
    font-size: 18px;
    font-weight: 400;
}

#contact-content {
    border: 2px solid rgb(145, 143, 143);
    padding-left: 5px;


    background-size: contain;
    background-color: rgba(71, 71, 71, 0.739);
    color: rgb(98, 221, 160);
    font-size: 18px;
    font-weight: 500;
}

#contact-content p {
    font-size: 22px;
}



footer,
footer a {
    text-align: center;
    background-color: rgb(14, 58, 109);
    color: rgba(240, 255, 255, 0.385);
    margin: 0px;
    font-size: 28px;
    font-weight: 400;
    text-decoration: underline;


}

p {
    padding-left: 10px;
}

button {
    font-size: 18px;
    transform: translateY(-5px);
}

hr {
    border: 1px dashed rgb(29, 129, 4);
}

.whitespace p {
    margin: 100px;
}