* {
    font-size: 28px;
    margin: auto;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 255, 0.52);
  
}
ul {
    list-style-type: none;
    background-color: rgba(51, 50, 50, 0.863);
}
#list {
    display: inline-flex;
    margin-left: 20vw;
}
#list a {
    text-decoration: none;
    color: aqua;
    padding: 0px 15px;
    font-size: 35px;  
}
#list a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(200, 173, 53);
}
#navBar {
    position: sticky;
    top: 0%;     
}
#leftContainer {
    max-height:450px;
    min-width:fit-content;
    border-right: 5px ridge rgb(18, 241, 137);
    border-bottom: 5px ridge rgb(18, 189, 241);  
    margin: 0px;
    background-color: rgba(43, 231, 238, 0.486);
}
#profile-photo {
    height: 200px;
    width: 190px;
    margin-left: 20px;
    border: 3px ridge aqua;
    border-radius: 130px;
}
pre {
    font-size: 20px;
}
pre a {
    font-size: 18px;
    color: rgb(41, 134, 241);
}
#rightContainer {
  background-color: rgba(43, 231, 238, 0.486);
}
.cntnt{
    display: none;
}